/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
  /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
  /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
  /* Styles */
}



html {
  font: normal 100% Arial, Helvetica, sans-serif;
  color:#000;
  height:100%;
}

body {
  -webkit-text-size-adjust: 100%;
  text-align: center;
  background:#D3D3D3;
  margin:0;
  background: rgb(235,233,247); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNlYmU5ZjciIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjYWRhZGQzIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-radial-gradient(center, ellipse cover,  rgba(235,233,247,1) 0%, rgba(173,173,211,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(235,233,247,1)), color-stop(100%,rgba(173,173,211,1))); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(235,233,247,1) 0%,rgba(173,173,211,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  rgba(235,233,247,1) 0%,rgba(173,173,211,1) 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  rgba(235,233,247,1) 0%,rgba(173,173,211,1) 100%); /* IE10+ */
  background: radial-gradient(ellipse at center,  rgba(235,233,247,1) 0%,rgba(173,173,211,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebe9f7', endColorstr='#adadd3',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}

body a:link, body a:visited, body a:active {
  font : bold 15px Arial, Helvetica, sans-serif;
  color: #000;
  text-decoration: none;
}
body a:hover {
  text-decoration: underline;
}

P {
  font: 0.85em/1.3em Arial, Helvetica, sans-serif;
  text-align: center;
  display: block;
  margin: 0;
  padding: 0;
}

img {
  border: 1px solid #ccc;
  margin: 0;
}

h1  {
  font : bold 22px Arial, Helvetica, sans-serif;
  margin: 0 0 1em 0;
  display: inline-block;
}
h2  {
  font : bold 15px Arial, Helvetica, sans-serif;
  margin: 0;
}

h1 {
  &.heading  {
    font : bold 15px Arial, Helvetica, sans-serif;
    padding: 14px 0 0 0;
    margin: 24px 14px 0 14px;
    text-align: left;
    border-bottom:1px solid black;
  }
}

ul.left,
ul.right {
  width: 39%;
  text-align: left;
  float: left;
  li {
    font-size: .7em;
    white-space: nowrap;
    color: #555;
  }
}
ul.left {
  margin-left: 10%;
}

#content {
  position: relative;
  background: url(../mdsharplogo.png) no-repeat 50% 16%;
  background-size: 90% auto;
  height: 100vh;
  width: 100vw;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}
#address {
  position: absolute;
  top: 35%;
  left: 0;
  right: 0;
  max-width: 1000px;
  margin: 107px auto 0;
  color: #111;
  font-size: 1.5em;
  #phone {
    max-width: 1000px;
    margin: .5em auto 1em;
    color: #111;
    font-size: 1em;
  }
  #dropoff {
    margin: 0 12px;
    h1 {
      color: #333;
      font-size: .8em;
    }
    .address {
      color: #2c61fa;
    }
    .and {
      margin: 0;
      font-size: 0.6em;
    }
    span {
      margin: 0;
      font-size: .7em;
    }
    > span {
      display: inline-block;
      margin-top: .5em;
    }
    .desc {
      margin-top: 1.1em;
      color: #555;
      li {
        color: #555;
      }
    }

    .list-1 {
      margin: 0;
      li {
        display: inline-block;
        font-size: 12px;
        list-style: disc;
      }
    }
  }

  #footer {
    font-size: 11px;
    margin: 100px 0;
    color: #adadd3;
    width: 100%;

    span.right {
      text-align: right;
      color: #333;
      float: right;
    }
  }
}